<section class="card text-center">
      <div class="card-body">
        <h3 class="card-title">Sign-Up</h3>
        <form class="signup-form" id="signup">
            <div class="card-text">
            <label for="signupUsername">Username:</label>
            <input type="text" placeholder="USERNAME" id="signupUsername">
            </div>
            <div class="card-text">
            <label for="signupPassword">Password:</label>
            <input type="text" placeholder="PASSWORD" id="signupPassword">
            </div>
            <button type="submit" class="btn btn-dark">Sign-Up!</button><br>
            <a href="/login">Login</a>
        </form>
    </div>
</section>

<script src="/js/signup.js"></script>