* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style-type: none;
}

header, h1 {
    background-color: #355C7D;
    padding: 10px;
    color: white !important;
}

.card {
    border: none;
    padding: 1
}

form, input {
    margin: .75rem;
    padding: .25rem;
}

form, button {
    margin-top: .5rem;
}